 .phoneNumber {
    text-decoration: none;
    color: teal;
  }

  .footer-mobile {
    max-width: 80vw;
  }

  .mobile-margin {
    margin-top: -50px;
  }

  .text-padding {
    padding: 2rem;
  }

  .heading-hr {
    width: 20vw;
    border-color: #31CCEC;
  }

  .heading {
    color: #31CCEC;
  }

  .white-background {
    background-color: white;
  }

  .second-header {
    background-color: rgba(49, 205, 236, 0.95);
    padding: 2rem 2rem;
  }

  .header {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2rem 2rem;
  }

  .header-padding {
    padding: 0rem 0rem 10rem 0rem;
  }

  .toolbar {
    border-top: 4px solid #31CCEC;
    background-color: rgba(255, 255, 255, 0.829);
  }

  .logo {
    max-width: 28vw;
  }

  .logo-mobile {
    max-width: 50vw;
  }

  .header-container {
    margin: .5rem 0rem;
  }

  .background {
    background: url(../statics/backgrounds/stamps.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    /* background-color: gray; */
  }

  .set-size-outer {
    max-width: 65vh;
  }

  .white-text {
    color: white;
  }

  .black-text {
    color: black;
  }

  .grow {
    transition: all .35s ease-in-out;
  }

  .grow:hover {
    transform: scale(1.1);
  }

  .grow:hover .hidden-text {
    opacity: 1;
  }

  .not-loaded {
    opacity: 0;

    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
  }

  .loaded {
    opacity: 1;
  }
