body{
   font-family: 'Fira Sans', sans-serif;
 }
 .phoneNumber {
    text-decoration: none;
    color: teal;
  }

  .footer-mobile {
    max-width: 80vw;
  }

  .mobile-margin {
    margin-top: -50px;
  }

  .text-padding {
    padding: 2rem;
  }

  .heading-hr {
    width: 20vw;
    border-color: #31CCEC;
  }

  .heading {
    // color: #31CCEC;
    color:black;
  }

  .white-background {
    background-color: white;
    z-index: 5;
  }
  .border-background{
    border: 3px solid #31CCEC;
    border-radius:15px;
  }
  .home-border{
    border: 3px solid #31CCEC;
    border-radius:15px;
    }

  .second-header {
    background-color: rgba(49, 205, 236, 0.65);
    padding: 2rem 2rem;
  }

  .header {
    background-color: rgba(255, 255, 255, 0.65);
    padding: 2rem 2rem;
  }

  .header-padding {
    padding: 0rem 0rem 10rem 0rem;
  }

  .home-header{
    padding:0rem;
  }

  .toolbar {
    border-top: 4px solid #31CCEC;
    background-color: rgba(255, 255, 255, 0.829);
  }

  .logo {
    max-width: 28vw;
  }

  .logo-mobile {
    max-width: 50vw;
  }

  .header-container {
    margin: .5rem 0rem;
  }

.gray-bg{
  background-color: rgba(211, 211, 211, 0.9);
  }

  .background {
    background: url(../statics/backgrounds/meeting.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    /* background-color: gray; */
  }
  .backgroundMobile {
    background: url(../statics/backgrounds/meeting.jpg) no-repeat;


  background-position: top center; 
  width: 100%;
  height: 100%;
  }

  .set-size-outer {
    max-width: 65vh;
  }

  .white-text {
    color: white;
  }

  .black-text {
    color: black;
  }

  .grow {
    transition: all .35s ease-in-out;
  }

  .grow:hover {
    transform: scale(1.1);
  }

  .grow:hover .hidden-text {
    opacity: 1;
  }
  .grow-small {
    transition: all .35s ease-in-out;
  }

  .grow-small:hover {
    transform: scale(1.05);
  }

  .grow-small:hover .hidden-text {
    opacity: 1;
  }

  .not-loaded {
    opacity: 0;

    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
  }

  .loaded {
    opacity: 1;
  }

 .icon-ind {
        font-size: 6rem;
        margin: 2rem;
    }

    .card-ind {
        min-height: 30vh;
        padding: 0rem 1rem;
        margin: 1rem 1rem;
    }

    .paragraph-ind {
        padding: 1rem 0;
    }
    .custom-caption{
      text-align: center;
      padding: 2rem;
      color: white;
      background-color: rgba(0, 0, 0, .4);
      height: 25vh;
      }
    .custom-caption-mobile{
      text-align: center;
      padding: 2rem;
      color: white;
      background-color: rgba(0, 0, 0, .5);
      }